<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar px-0">
  <div class="container-fluid flex-wrap flex-md-nowrap py-0 px-3">
    <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">
    </a>

    <div class="navbar-nav-scroll order-3 order-md-0 d-flex justify-content-center justify-content-md-start">
      <ul class="navbar-nav bd-navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{{ if eq .Page.Layout "docs" }} active{{ end }}" href="/docs/{{ .Site.Params.docs_version }}/getting-started/introduction/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Docs');">Docs</a>
        </li>
    </div>
</div>
</header>
